body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    padding: 10px;
}

.text-accent {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.site-nav__link {
    text-decoration: underline;
    color: blueviolet;
}

.big-font{
    font-size: 40px;
}

canvas {
        border: 1px solid black;
        margin-top: 20px;
      } /*НАПОМНІТЬ ПРО КАНВАС КАТЕРИНА ПРОСИЛА НАПОМНІТЬ ЇЙ*/
#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
#box {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shadow {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}